/*------------------------------------------------------------
  Base Style
------------------------------------------------------------*/

/*making font-sizes base 10*/
html {
  box-sizing: border-box;
  /*font-size: 62.5%;*/
  margin: 0;
  padding: 0;
}

/*setting up font sizes and base font family*/
body {
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
